/*FOOTER */
html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  font-style: italic;
}



#txtlink {
  border: 1px solid #3a7658;
}

#txtsentimientos{
  border: #3a7658;
}

input:focus {
  outline: none;
}



#tabla{
  margin-left: 50%;

}

#resultado{
  margin-left: 50%;
}


#chat2 .form-control {
  border-color: transparent;
  }
  
  #chat2 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .divider:after,
  .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }

  #inputchat{

    margin-top: 5%;
  }

  #bot .form-control {
    border-color: transparent;
    }
    
    #bot .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
    }
    
    .divider:after,
    .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
    }

  #envio {
      resize: none;
    }
    
  
#bot {
      resize: none;
    }
    
    #compound {
      resize: none;
    }

    #neg {
      resize: none;
    }

    #neu {
      resize: none;
    }

    #pos {
      resize: none;
    }

    #idtraduccion {
      resize: none;
    }

    #idresumen {
      resize: none;
    }