{% extends './layout.html' %}
{% block body %}

<div class="container">
  <div class="row">
    <section style="background-color: #eee;">

                  <div class="col-lg-6 col-sm-6 col-md-6">
                      <textarea class="form-control" id="chat" rows="1"></textarea>
                  </div>

            
              </div>
              <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                  id="" alt="avatar 3" style="width: 40px; height: 100%;">
                <input style="border-color: #3a7658;" type="text" class="form-control form-control-lg" id="inputchat" placeholder="Type message">
                <button onclick="chat()" id="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark" type="button">Enviar</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

</div>


{% endblock %}