{% extends './layout.html' %}

{% block body %}
    <div class="container" style="background: #eeeeee;">
        <br>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{{ url_for('static', filename='assets/Imagen1.jpg') }}" class="d-block w-100" alt="...">
        
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="{{ url_for('static', filename='assets/Imagen2.jpg') }}" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="{{ url_for('static', filename='assets/Imagen3.jpg') }}" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Siguiente</span>
                    </button>
                  </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <figure class="text-center">
                    <blockquote class="blockquote">
                      <h1 class="display-6">Somos Center Salud</h1>
                    </blockquote>
                    
                    <p class="fs-6" style="text-align: justify;">
                        Una plataforma dedicada a brindar soluciones de medicina natural para mejorar la calidad de vida de las personas.  En Center Salud creemos en la sabiduría de la naturaleza y en el poder de las hierbas y plantas para mejorar la salud de las personas. 
                        <br>
                        <br>
                        Nuestro equipo está formado por profesionales apasionados por la medicina natural, comprometidos en ofrecer productos y servicios de alta calidad para satisfacer las necesidades de nuestros clientes. Nos esforzamos por ser líderes en el mercado de la medicina natural y en ofrecer soluciones efectivas y naturales para diversos problemas de salud.
                        <br>
                        <br>
                         Todos nuestros productos están hechos con ingredientes 100% naturales de la más alta calidad y cumplen con los más altos estándares de calidad.
                        <br>
        
                    <p>
                  </figure>
            </div>
        </div>
    </div>
{% endblock %}
