{% extends './layout.html' %}
{% block body %}
<div class="container" style="background-color: #eeeeee;">
    <div class="row">

        <div class="col-lg-12 col-sm-12 col-md-12">
            <h1 class=" display-6"> Link</h1>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" id="txtlink" placeholder="Pega aqui tu link" aria-label="Enviar">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                    <label class="form-check-label" for="inlineCheckbox1">Traducir</label>
                  </div>
                  
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                    <label class="form-check-label" for="inlineCheckbox2">Original</label>
                  </div>
                <button onclick="Resumen()" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark" type="button">Enviar</button>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6">
            <label for="exampleFormControlTextarea1" class="display-6"> Resumen</label>
            <textarea class="form-control" id="idresumen" rows="10"></textarea>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6">
            <label for="exampleFormControlTextarea1" class="display-6"> Traducción</label>
            <textarea class="form-control" id="idtraduccion" rows="10"></textarea>
        </div>
    </div>


    <div class="row"><br></div>
</div>
{% endblock %}