{% extends './layout.html' %}
{% block body %}
<div class="container" style="background: #eeeeee;">
    <h1 class=" display-6"> ¿Como te sientes hoy? </h1>
    <br>
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-md-4" >
            <div class="form-outline">
                <input type="text" id="ins" class="form-control" data-mdb-showcounter="true" maxlength="20" />
                <label class="form-label" for="form16"></label>
                <div class="form-helper"></div>
              </div>
              <br>
        </div>

        <div class="col-lg-2 col-sm-2 col-md-2" >
              <br>
        </div>

        <div class="col-lg-6 col-sm-6 col-md-6" >
            <div class="form-outline">
                <input type="text" id="ins" class="form-control" data-mdb-showcounter="true" maxlength="20" />
                <label class="form-label" for="form16"></label>
                <div class="form-helper"></div>
              </div>
              <br>
        </div>
    </div>
</div>


{% endblock %}