{% extends './layout.html' %}
{% block body %}
<div class="container" style="background: #eeeeee;">
    <h1 class=" display-6"> ¿Como te sientes hoy? </h1>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">   
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" id="inputsentimientos" placeholder="Como te sientes?" aria-label="Enviar">
                <button onclick="Sentimiento()" id="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark" type="button">Enviar</button>
            </form>
        </div>
    </div>
        <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6">
            <br>
            <label for="exampleFormControlTextarea1" class="display-6"> Score</label>
            <textarea class="form-control" id="compound" rows="1"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6">
            <br>
            <label for="exampleFormControlTextarea1" class="display-6"> Negativo</label>
            <textarea class="form-control" id="neg" rows="1"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6">
            <br>
            <label for="exampleFormControlTextarea1" class="display-6"> Neutral</label>
            <textarea class="form-control" id="neu" rows="1"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6">
            <br>
            <label for="exampleFormControlTextarea1" class="display-6"> Positivo</label>
            <textarea class="form-control" id="pos" rows="1"></textarea>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}